DB_USER=name
DB_PASSWORD=password
DB_NAME=name
JWT_SECRET=generate_string_here
STRIPE_API_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
ALLOWED_ORIGINS=http://localhost:5173
FRONTEND_URL=http://localhost:5173